<div class="table-wrapper">
  <div class="container">
    <div class="row">
      <!-- Issuance Date Filters -->
      <div class="col-md-3">
        <label for="issuanceStartDate">Issuance Start Date:</label>
        <input type="date" class="form-control" id="issuanceStartDate" [(ngModel)]="issuanceStartDate" (input)="applyFilters()">
      </div>
      <div class="col-md-3">
        <label for="issuanceEndDate">Issuance End Date:</label>
        <input type="date" class="form-control" id="issuanceEndDate" [(ngModel)]="issuanceEndDate" (input)="applyFilters()">
      </div>

      <!-- Return Date Filters -->
      <div class="col-md-3">
        <label for="returnStartDate">Return Start Date:</label>
        <input type="date" class="form-control" id="returnStartDate" [(ngModel)]="returnStartDate" (input)="applyFilters()">
      </div>
      <div class="col-md-3">
        <label for="returnEndDate">Return End Date:</label>
        <input type="date" class="form-control" id="returnEndDate" [(ngModel)]="returnEndDate" (input)="applyFilters()">
      </div>
    </div>
    <div class="row">
      <!-- Actual Return Date Filters -->
      <div class="col-md-3">
        <label for="actualReturnStartDate">Actual Return Start Date:</label>
        <input type="date" class="form-control" id="actualReturnStartDate" [(ngModel)]="actualReturnStartDate" (input)="applyFilters()">
      </div>
      <div class="col-md-3">
        <label for="actualReturnEndDate">Actual Return End Date:</label>
        <input type="date" class="form-control" id="actualReturnEndDate" [(ngModel)]="actualReturnEndDate" (input)="applyFilters()">
      </div>

      <!-- Overdue Filter
      <div class="col-md-3">
        <label for="includeOverdue">Include Overdue:</label>
        <input type="checkbox" class="form-control" id="includeOverdue" [(ngModel)]="includeOverdue" (input)="applyFilters()">
      </div> -->
    </div>
  </div>

  <table class="table">
    <thead>
      <tr class="table-header">
        <th class="table-cell">ID</th>
        <th class="table-cell">User</th>
        <th class="table-cell">Issuance Date</th>
        <th class="table-cell">Return Date</th>
        <th class="table-cell">Actual Return Date</th>
        <th class="table-cell">Body</th>
        <th class="table-cell">Percent</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let user of filteredUsers">
        <td class="table-cell" data-label="ID">{{ user.id }}</td>
        <td class="table-cell" data-label="User">{{ user.user }}</td>
        <td class="table-cell" data-label="Issuance Date">{{ user.issuance_date }}</td>
        <td class="table-cell" data-label="Return Date">{{ user.return_date }}</td>
        <td class="table-cell" data-label="Actual Return Date">{{ user.actual_return_date }}</td>
        <td class="table-cell" data-label="Body">{{ user.body }}</td>
        <td class="table-cell" data-label="Percent">{{ user.percent }}</td>
      </tr>
    </tbody>
  </table>
</div>
