<div class="table-wrapper">
  <div class="container">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="issuanceDate">Filter by Issuance Date:</label>
        <input type="date" class="form-control" id="issuanceDate" [(ngModel)]="issuanceDate" (input)="applyFilters()">
      </div>
      <div class="form-group col-md-4">
        <label for="returnDate">Filter by Return Date:</label>
        <input type="date" class="form-control" id="returnDate" [(ngModel)]="returnDate" (input)="applyFilters()">
      </div>
      <div class="form-group col-md-4">
        <label for="actualReturnDate">Filter by Actual Return Date:</label>
        <input type="date" class="form-control" id="actualReturnDate" [(ngModel)]="actualReturnDate" (input)="applyFilters()">
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="table-header">
        <th class="table-cell">ID</th>
        <th class="table-cell">User</th>
        <th class="table-cell">Issuance Date</th>
        <th class="table-cell">Return Date</th>
        <th class="table-cell">Actual Return Date</th>
        <th class="table-cell">Body</th>
        <th class="table-cell">Percent</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let user of filteredUsers">
        <td class="table-cell" data-label="ID">{{ user.id }}</td>
        <td class="table-cell" data-label="User">{{ user.user }}</td>
        <td class="table-cell" data-label="Issuance Date">{{ user.issuance_date }}</td>
        <td class="table-cell" data-label="Return Date">{{ user.return_date }}</td>
        <td class="table-cell" data-label="Actual Return Date">{{ user.actual_return_date }}</td>
        <td class="table-cell" data-label="Body">{{ user.body }}</td>
        <td class="table-cell" data-label="Percent">{{ user.percent }}</td>
      </tr>
    </tbody>
  </table>
</div>
