<div class="card">
    <div class="card-body">
      <!-- <h5 class="card-title">{{ data.user }}</h5>
      <p class="card-text">ID: {{ data.id }}</p>
      <p class="card-text">Issuance Date: {{ data.issuance_date }}</p>
      <p class="card-text">Return Date: {{ data.return_date }}</p>
      <p class="card-text">Actual Return Date: {{ data.actual_return_date }}</p>
      <p class="card-text">Body: {{ data.body }}</p>
      <p class="card-text">Percent: {{ data.percent }}</p> -->
    </div>
  </div>
  